body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* overall conainer, centering everything in a column */
#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;;
}

/* colorpicker conatiner, full width but always square */
#colorpicker-container {
    width: 100%;
    height: auto;
    position: relative;
}

/* brightpicker container, full width. 1/4 as high, 
will need to set this in js */
#brightpicker-container {
    width: 100%;
    height: auto;
    position: relative;
}

/* button row, full width, 1/8 as high,
will need to set this in js */
#button-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* button class, hide the text, but keep it for screen readers */
.button {
    color: transparent;
    font-size: 1.5em;
}

/* canvases will be the full size of their containers */
canvas {
    width: 100%;
    height: 100%;
}

/* divs will all have a padding of 2.5% */
div {
    padding: 1.5%;
    box-sizing: border-box;
}

/* make the toggle button flex grow to fill the space */
#toggle-button {
    flex-grow: 1;
    padding-left: 3%;
}
