<!DOCTYPE html>
<html>
<head>
	<title>Color Wheel and Button</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div id="container">
		<div id="colorpicker-container">
			<canvas id="colorpicker" data-src="{{ url_for('static', filename='color_picker.jpg') }}"></canvas>
		</div>
		<div id="brightpicker-container">
			<canvas id="brightpicker"></canvas>
		</div>
		<div id="button-container">
			<button class="button" id="color-button">color selection</button>
			<button class="button" id="toggle-button">toggle on/off</button>
		</div>
	</div>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
